# -*- mode: conf -*-

[user]
  name = Vitor Pereira
  email = vmsousapereira@gmail.com

[core]
  excludesFile = ~/.gitignore_global
  autocrlf = input  # set to true on windows
  safecrlf = true

[alias]
  a = add
  c = commit
  co = checkout
  cb = checkout -b
  s = status -sb
  d = diff
  b = branch
  p = push
  l = log --all --graph --pretty=format:'%Cred%h%Creset\
      -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\
      --abbrev-commit --date=relative

[branch]
	autoSetupRebase = always

[help]
  autoCorrect = 1

[magit]
  hideCampaign = true
